:root {
  --vp-c-brand: #0054a4;
  --vp-c-brand-light: #0054a4;
  --vp-c-green: #0054a4;
  --vp-c-green-light: #0054a4;
  --vp-c-green-lighter: #4d87bf;
  --vp-c-green-dark: #004383;
  --vp-c-green-darker: #064179;
  // --vp-c-green-dimm-1: #3376b6;
  // --vp-c-green-dimm-2: #0a345c;
  --vp-c-green-dimm-3: var(--el-color-primary-light-9);
}

.content-container {
  max-width: inherit !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #0000004d;
}

@media (min-width: 1440px) {
  .VPContent.has-sidebar {
    padding-right: 0 !important;
  }
}

.demo-block-control {
  background-color: var(--vp-custom-block-info-bg) !important;
  border-top-color: var(--vp-c-divider-light) !important;
}

.demo-block {
  border-color: var(--vp-c-divider-light) !important;
}

.demo-block.hover {
  box-shadow: var(--el-box-shadow) !important;
}
